html

body {
    margin : 0;
    padding : 0;
}

footer {
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    &> p {
        padding: 10px;
        margin: 0;
        font-weight: bold;
    }
.header__item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    background-color: lightgray;
}