body {
    margin : 0;
    padding : 0;
}

footer {
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;

}

footer > p {
    padding: 10px;
    margin: 0;
    font-weight: bold;
}
.header__item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    background-color: lightgray;
}

.button__CTA {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}